Repository nookat-io/nookat: changes, and which pre-commit hooks are due for each by the changed paths.
All: typescript-check, npm-run-lint, jest-unit-related, cargo-fmt, cargo-check, cargo-test

typescript-check:
  name: check for typescript errors
  entry: npx tsc --noEmit
  language: system
  pass_filenames: false

npm-run-lint:
  name: check for eslint errors
  entry: npm run lint -- --max-warnings=0
  language: system
  pass_filenames: false

jest-unit-related:
  name: check for jest errors
  entry: bash -c 'npm run test'
  language: system
  pass_filenames: true

cargo-fmt:
  name: check for cargo fmt errors
  entry: bash -c 'cd src-tauri && cargo fmt -- --quiet'
  language: system
  pass_filenames: false

cargo-check:
  name: check for cargo check errors
  entry: bash -c 'cd src-tauri && cargo check'
  language: system
  pass_filenames: false

cargo-test:
  name: check for cargo test errors
  entry: bash -c 'cd src-tauri && cargo test'
  language: system
  pass_filenames: false

chore(deps): bump npm dependencies to dependabot targets
  .pre-commit-config.yaml
  package-lock.json
  package.json
Due: none

fix: satisfy the eslint 10 and react-hooks 7 rule sets
  src/components/containers/container-logs-form.tsx
  src/components/images/common/tag-selector.tsx
  src/components/layout/sidebar.tsx
  src/components/networks/network-actions-utils.ts
  src/components/settings/engine-settings/hooks/use-engine-settings-state.ts
  src/hooks/use-table-sort.ts
  src/hooks/use-updater.ts
  src/lib/engine-provider.tsx
  src/lib/sentry-provider.tsx
  tickets/tech/TECH-005-set-state-in-effect-refactor.md
  tsconfig.json
Due: typescript-check, npm-run-lint, jest-unit-related

chore(deps): bump bollard to 0.21, sentry to 0.49, sha2 to 0.11
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/entities/containers/container.rs
  src-tauri/src/entities/containers/mount.rs
  src-tauri/src/entities/containers/port.rs
  src-tauri/src/entities/engine/docker_info.rs
  src-tauri/src/entities/networks.rs
  src-tauri/src/sentry.rs
  src-tauri/src/services/containers.rs
  src-tauri/src/services/engine_state_monitor.rs
  src-tauri/src/services/images.rs
  src-tauri/src/services/networks.rs
  src-tauri/src/services/volumes.rs
  src/components/containers/container-status-badge.tsx
  src/components/containers/container-types.ts
  src/types/docker-info.ts
Due: typescript-check, npm-run-lint, jest-unit-related, cargo-fmt, cargo-check, cargo-test

chore: build macOS release without Apple signing or notarization
  .github/workflows/build-macos.yaml
  .github/workflows/release.yaml
  README.md
Due: none

fix: gate the macOS release upload on signature verification
  .github/workflows/build-macos.yaml
  README.md
Due: none

docs: correct the macOS first-launch instructions
  README.md
Due: none

chore: report the macOS signing mode accurately in workflow output
  .github/workflows/build-macos.yaml
  .github/workflows/release.yaml
Due: none

Path conditions:
  typescript-check: any of: \.(ts|tsx)$
  npm-run-lint: any of: \.(ts|tsx)$
  jest-unit-related: any of: \.(ts|tsx)$
  cargo-fmt: any of: \.(rs|toml)$
  cargo-check: any of: \.(rs|toml)$
  cargo-test: any of: \.(rs|toml)$
