Repository nookat-io/nookat: changes, and which pre-commit hooks are due for each by the changed paths.
All: typescript-check, npm-run-lint, jest-unit-related, cargo-fmt, cargo-check, cargo-test

.pre-commit-config.yaml:

repos:
  # Frontend (React/TypeScript) hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: [--maxkb=2000]
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-json

  # ESLint for TypeScript/React
  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v9.9.1
    hooks:
      - id: eslint
        name: check for eslint errors
        files: \.(js|ts|tsx)$
        types: [file]
        additional_dependencies:
          - eslint@^9.9.1
          - '@eslint/js@^9.9.1'
          - 'typescript-eslint@^8.3.0'
          - 'eslint-plugin-react-hooks@^5.1.0-rc.0'
          - 'eslint-plugin-react-refresh@^0.4.11'
          - '@types/react@^18.3.5'
          - '@types/react-dom@^18.3.0'

  # Prettier for code formatting
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
        name: check for prettier errors
        files: \.(js|ts|tsx|json|css|md)$
        types: [file]

  # TypeScript type checking
  - repo: local
    hooks:
      - id: typescript-check
        name: check for typescript errors
        entry: npx tsc --noEmit
        language: system
        files: \.(ts|tsx)$
        pass_filenames: false

  # Linting frontend
  - repo: local
    hooks:
      - id: npm-run-lint
        name: check for eslint errors
        entry: npm run lint -- --max-warnings=0
        language: system
        files: \.(ts|tsx)$
        pass_filenames: false

  # Frontend unit tests (Jest) - run only tests related to changed files
  - repo: local
    hooks:
      - id: jest-unit-related
        name: check for jest errors
        entry: bash -c 'npm run test'
        language: system
        files: \.(ts|tsx)$
        pass_filenames: true

  # Cargo fmt for Rust
  - repo: local
    hooks:
      - id: cargo-fmt
        name: check for cargo fmt errors
        entry: bash -c 'cd src-tauri && cargo fmt -- --quiet'
        language: system
        files: \.(rs|toml)$
        pass_filenames: false

  # Cargo check for Rust
  - repo: local
    hooks:
      - id: cargo-check
        name: check for cargo check errors
        entry: bash -c 'cd src-tauri && cargo check'
        language: system
        files: \.(rs|toml)$
        pass_filenames: false

  # Cargo test for Rust
  - repo: local
    hooks:
      - id: cargo-test
        name: check for cargo test errors
        entry: bash -c 'cd src-tauri && cargo test'
        language: system
        files: \.(rs|toml)$
        pass_filenames: false

feat: image pull
  src-tauri/src/handlers/images.rs
  src-tauri/src/lib.rs
  src-tauri/src/services/images.rs
  src/components/images/image-actions.tsx
  src/components/images/pull-build-image-modal.tsx
  tickets/image/IMAGE-005-image-push-pull-operations.md
  tickets/image/IMAGE-007-pull-suggestion.md
Due: typescript-check, npm-run-lint, jest-unit-related, cargo-fmt, cargo-check, cargo-test

fix: resolve image selection issue in pull-build-image-modal
  .github/dependabot.yml
  .github/labels/ready-for-review.yml
  .github/labels/ready-to-merge.yml
  .github/workflows/ci-builds.yml
  .github/workflows/ci.yml
  DOCKER_AUTOCOMPLETION_README.md
  src-tauri/src/handlers/images.rs
  src-tauri/src/lib.rs
  src/components/images/pull-build-image-modal.tsx
  src/components/ui/DockerImageAutocomplete.tsx
  src/components/ui/DockerImageSelector.tsx
  src/components/ui/index.ts
  src/lib/docker.ts
  src/pages/ImagesPage.tsx
  src/types/docker-images.ts
Due: typescript-check, npm-run-lint, jest-unit-related, cargo-fmt, cargo-check, cargo-test

chore: pull and build split
  src/components/images/build/build-image-modal.tsx
  src/components/images/build/build-image-tab.tsx
  src/components/images/build/index.ts
  src/components/images/common/docker-hub-search.tsx
  src/components/images/common/hooks.ts
  src/components/images/common/image-details-display.tsx
  src/components/images/common/index.ts
  src/components/images/common/progress-display.tsx
  src/components/images/common/registry-selector.tsx
  src/components/images/common/tag-selector.tsx
  src/components/images/common/types.ts
  src/components/images/common/utils.ts
  src/components/images/image-actions.tsx
  src/components/images/index.ts
  src/components/images/pull-build-image-modal.tsx
  src/components/images/pull/index.ts
  src/components/images/pull/pull-image-modal.tsx
  src/components/images/pull/pull-image-tab.tsx
Due: typescript-check, npm-run-lint, jest-unit-related

chore: revert-back unrelated changes
  .github/dependabot.yml
  .github/labels/ready-for-review.yml
  .github/labels/ready-to-merge.yml
  .github/workflows/ci-builds.yml
  .github/workflows/ci.yml
  DOCKER_AUTOCOMPLETION_README.md
Due: none

fix: truncated too long container names and images
  src/components/containers/container-row.tsx
  src/components/containers/container-status-badge.tsx
  src/components/containers/port-mappings.tsx
Due: typescript-check, npm-run-lint, jest-unit-related

fix: status name consistency
  src/components/containers/container-group-row.tsx
Due: typescript-check, npm-run-lint, jest-unit-related

fix: tooltips for container name and image fields
  src/components/containers/container-row.tsx
Due: typescript-check, npm-run-lint, jest-unit-related

fix: tooltip for the engine status label
  src/components/layout/header.tsx
Due: typescript-check, npm-run-lint, jest-unit-related

chore: image actions header refactored & common confirmation dialog
  src/components/common/ConfirmDialog.tsx
  src/components/images/dialogs/DeleteConfirmDialog.tsx
  src/components/images/dialogs/PruneConfirmDialog.tsx
  src/components/images/dialogs/PruneResultsDialog.tsx
  src/components/images/image-actions.tsx
  src/components/images/pull/index.ts
  src/components/images/pull/pull-image-modal.tsx
Due: typescript-check, npm-run-lint, jest-unit-related

fix: container prune stopped action confirmation dialog
  src/components/containers/container-actions.tsx
  src/components/containers/dialogs/ContainerPruneConfirmDialog.tsx
Due: typescript-check, npm-run-lint, jest-unit-related

fix: image pull form
  src/components/images/common/docker-hub-search.tsx
  src/components/images/common/tag-selector.tsx
  src/components/images/common/utils.ts
  src/components/images/pull/pull-image-tab.tsx
Due: typescript-check, npm-run-lint, jest-unit-related

fix: ai pr review
  src-tauri/src/handlers/images.rs
  src-tauri/src/lib.rs
  src-tauri/src/services/images.rs
  src/components/images/build/.gitkeep
  src/components/images/build/build-image-modal.tsx
  src/components/images/build/build-image-tab.tsx
  src/components/images/build/index.ts
  src/components/images/common/docker-hub-search.tsx
  src/components/images/common/hooks.ts
  src/components/images/common/image-details-display.tsx
  src/components/images/common/progress-display.tsx
  src/components/images/common/registry-selector.tsx
  src/components/images/common/tag-selector.tsx
  src/components/images/common/types.ts
  src/components/images/common/utils.ts
  src/components/images/index.ts
  src/components/images/pull/pull-image-modal.tsx
  src/components/images/pull/pull-image-tab.tsx
  src/components/ui/DockerImageAutocomplete.tsx
  src/components/ui/DockerImageSelector.tsx
  src/components/ui/index.ts
  src/lib/docker.ts
  src/types/docker-images.ts
  tickets/image/IMAGE-007-pull-suggestion.md
Due: typescript-check, npm-run-lint, jest-unit-related, cargo-fmt, cargo-check, cargo-test

fix: ai pr review 2
  src-tauri/src/services/images.rs
  src/components/images/common/docker-hub-search.tsx
  src/components/images/common/types.ts
  src/components/images/common/utils.ts
Due: typescript-check, npm-run-lint, jest-unit-related, cargo-fmt, cargo-check, cargo-test

feat: update README.md
  README.md
  screenshot-dark.png
  screenshots/dark/containers.png
  screenshots/dark/images.png
  screenshots/dark/networks.png
  screenshots/dark/settings.png
  screenshots/dark/volumes.png
  screenshots/light/containers.png
  screenshots/light/images.png
  screenshots/light/networks.png
  screenshots/light/settings.png
  screenshots/light/volumes.png
Due: none

chore: rework distribution tickets
  screenshot-dark.png
  tickets/distribution/DIST-001-windows-code-signing.md
  tickets/distribution/DIST-002-auto-update-system.md
  tickets/distribution/DIST-002-linux-code-signing.md
  tickets/distribution/DIST-003-beta-channel-support.md
  tickets/distribution/DIST-003-homebrew-cask.md
  tickets/distribution/DIST-004-app-store-packaging-submission-macos.md
  tickets/distribution/DIST-004-release-management-system.md
  tickets/distribution/DIST-005-windows-store-packaging-submission.md
  tickets/distribution/DIST-006-automated-cross-platform-build-pipeline.md
  tickets/distribution/DIST-006-snap-craft-packaging-submission-ubuntu.md
  tickets/distribution/DIST-007-beta-channel-support.md
  tickets/distribution/DIST-007-code-signing-all-platforms.md
  tickets/distribution/DIST-008-app-store-packaging-submission-macos.md
  tickets/distribution/DIST-009-windows-store-packaging-submission.md
  tickets/distribution/DIST-010-snap-craft-packaging-submission-ubuntu.md
  tickets/distribution/DIST-011-installation-bash-script.md
  tickets/distribution/DIST-012-homebrew-cask.md
  tickets/engine/ENGINE-001-automatic-docker-engine-detection.md
Due: none

chore: tickets clean-up
  README.md
  package-lock.json
  package.json
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/tauri.conf.json
  tickets/engine/ENGINE-008-docker-engine-restart-functionality.md
  tickets/image/IMAGE-005-image-build.md
  tickets/perf/PERF-002-optimize-data-polling.md
  tickets/perf/PERF-005-efficient-data-caching-system.md
  tickets/tech/TECH-005-automated-code-review-processes.md
  tickets/ux/UX-005-responsive-design-different-screen-sizes.md
  tickets/ux/UX-007-optimize-cross-platform-compatibility.md
  tickets/ux/UX-008-improve-native-window-controls.md
  tickets/ux/UX-009-enhance-docker-system-information-display.md
  tickets/ux/UX-010-user-friendly-error-messages.md
Due: cargo-fmt, cargo-check, cargo-test

fix: show light screenshot
  README.md
Due: none

chore: links for external deps
  README.md
Due: none

fix: ai pr review
  tickets/distribution/DIST-001-windows-code-signing.md
  tickets/distribution/DIST-002-linux-code-signing.md
  tickets/distribution/DIST-003-homebrew-cask.md
Due: none

feat: ubuntu arm build
  .github/workflows/build-linux.yaml
Due: none

chore: temp disable build for windows and macos
  .github/workflows/release.yaml
Due: none

chore: temp disable build for windows and macos(2)
  .github/workflows/release.yaml
Due: none

chore: linux arm build
  .github/workflows/build-linux.yaml
  .github/workflows/release.yaml
Due: none

chore: revert back macos and windows builds
  .github/workflows/release.yaml
Due: none

fix: toast notification wordings
  src/components/containers/container-actions-service.ts
Due: typescript-check, npm-run-lint, jest-unit-related

feat: colima engine stop feature
  src-tauri/src/entities/engine/mod.rs
  src-tauri/src/handlers/system/engine.rs
  src-tauri/src/lib.rs
  src-tauri/src/services/engine/linux.rs
  src-tauri/src/services/engine/macos.rs
  src-tauri/src/services/engine/windows.rs
  src-tauri/src/services/shell/macos.rs
  src/components/settings/engine-settings/components/engine-configuration.tsx
  src/components/settings/engine-settings/components/installation-progress.tsx
  src/components/settings/engine-settings/components/resource-input.tsx
  src/components/settings/engine-settings/engine-settings.tsx
  src/components/settings/engine-settings/hooks/use-engine-settings-state.ts
  src/components/settings/engine-settings/types.ts
Due: typescript-check, npm-run-lint, jest-unit-related, cargo-fmt, cargo-check, cargo-test

fix: minor changes
  .github/workflows/ci.yml
  package-lock.json
Due: none

fix: remove EOL prettier pre-commit plugin
  .pre-commit-config.yaml
Due: none

fix: stop_colima_vm
  src-tauri/src/services/engine/linux.rs
  src-tauri/src/services/engine/windows.rs
Due: cargo-fmt, cargo-check, cargo-test

fix: automatically trigger release pipeline on tag creation
  .github/workflows/release.yaml
Due: none

chore(deps): bump cargo dependencies
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
Due: cargo-fmt, cargo-check, cargo-test

chore(deps): bump npm dependencies
  package-lock.json
  package.json
Due: none

chore(deps): upgrade React 18 -> 19
  package-lock.json
  package.json
  src/components/images/common/docker-hub-search.tsx
  src/components/images/common/hooks.ts
  src/components/images/pull/pull-image-tab.tsx
Due: typescript-check, npm-run-lint, jest-unit-related

chore(deps): resolve npm audit advisories
  package-lock.json
Due: none

fix: stop the Colima VM instead of reporting a stop that never happened
  src-tauri/src/services/engine/macos.rs
  src-tauri/src/services/engine/mod.rs
  src-tauri/src/services/shell/macos.rs
  src/components/settings/engine-settings/hooks/use-engine-settings-state.ts
Due: typescript-check, npm-run-lint, jest-unit-related, cargo-fmt, cargo-check, cargo-test

fix: bound the shutdown wait and stop relying on stop event ordering
  src-tauri/src/services/engine/macos.rs
  src/components/settings/engine-settings/hooks/use-engine-settings-state.ts
Due: typescript-check, npm-run-lint, jest-unit-related, cargo-fmt, cargo-check, cargo-test

fix: stop volume prune from deleting named volumes Docker protects
  src-tauri/src/entities/volumes.rs
  src-tauri/src/handlers/volumes.rs
  src-tauri/src/services/volumes.rs
  src/components/volumes/index.ts
  src/components/volumes/volume-actions-service.ts
  src/components/volumes/volume-actions.tsx
  src/components/volumes/volume-types.ts
Due: typescript-check, npm-run-lint, jest-unit-related, cargo-fmt, cargo-check, cargo-test

fix: return an error instead of panicking on non-macOS Colima commands
  src-tauri/src/handlers/system/engine.rs
  src-tauri/src/lib.rs
  src-tauri/src/services/engine/linux.rs
  src-tauri/src/services/engine/mod.rs
  src-tauri/src/services/engine/windows.rs
  src/components/settings/engine-settings/components/engine-configuration.tsx
  src/components/settings/engine-settings/engine-settings.tsx
  src/components/settings/engine-settings/hooks/use-engine-settings-state.ts
Due: typescript-check, npm-run-lint, jest-unit-related, cargo-fmt, cargo-check, cargo-test

fix: treat a failed Colima support probe as unknown, not unsupported
  src/components/settings/engine-settings/components/engine-configuration.tsx
  src/components/settings/engine-settings/engine-settings.tsx
  src/components/settings/engine-settings/hooks/use-engine-settings-state.ts
Due: typescript-check, npm-run-lint, jest-unit-related

chore: bump version to 0.1.8
  package.json
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/tauri.conf.json
Due: cargo-fmt, cargo-check, cargo-test
